html, body, main {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden
}

.leaflet-tooltip.feature-label {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 0 2px black;
  color: white;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat white;
  opacity: 1;
}

div#footer>div {
  margin-bottom: 10px
}

#demo {
  font-size: 14px
}

#demo>h5 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 16px
}

#demo>li {
  /* padding: 5px; */
  margin-left: 10px;
  line-height: 20px;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  /* z-index: 1000 !important; */
  left:0%;
  right: 0;
  margin: 0;
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden
}

.leaflet-control-layers {
  color: white !important;
  background-color: none;
  padding: 6px 8px;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

.leaflet-control-zoom, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: white !important;
  padding: 0px !important;
  background-color: none;
  border: none !important;
  background: #343a40 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px !important;
}

.c3-legend-background {
  fill: transparent;
  stroke: transparent;
}

.c3-line {
    stroke-width: 1px;
}

/* Responsive css */
#info {
  position: absolute;
  width: 40%;
  top: 1%;
  bottom: 1%;
  left: .5%;
  z-index: 1000;
  background: #343a40;
  color: white;
  opacity: 1;
  padding: 40px 15px 20px 15px;
}


.card-deck .card {
  background: #343a40;
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.card {
  border-radius: 0rem;
}
.card-body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-text {
  font-size: 33px !important
}

.card-title {
  color: lightgray;
  font-size: 14px;
  margin-bottom: 0rem;
  font-weight: bold;
}

/* #legend-panel {
  position: fixed;
  bottom: 180px;
  right: 20px;
  width: 300px;
  height: 20px;
  z-index: 1000;
  background: #343a4000;
} */

#sat-data-panel {
  position: absolute;
  bottom: 200px;
  right: 20px;
  width: 300px;
  height: 20px;
  z-index: 1000;
  background: #343a40;
  opacity: .8;
  color: white;
  border-radius: 25px;
}

.legend .card {
  background: #343a40;
  padding: 0;
}

.legend . -title {
  font-size: 13px;
  /* text-align: left; */
  /* padding-left: 4px; */
  /* background: #343a4000; */
}

.card-text {
  font-size: 40px;
  text-align: center;
  /* background: #343a4000; */
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}

#title {
  /* margin-bottom: 30px; */
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

#title span {
  font-size: 14px;
  float: right;
}

span {
  margin-right: 10px;
}

#info a {
  color: white;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#date {
  position: relative;
  top: -20px;
  /* bottom: -40px; */
  /* position: relative;
  top: -85px;
  left: 30px; */
  /* text-align: left; */
  font-size: 14px;
  /* font-weight:  */
  color: danger;
  /* font-family: 'Oswald', sans-serif; */
  /* font-size: 48px; */
}

#placename {
  font-size: 40px;
  position: relative;
  /* top: -20px; */
  font-family: 'Oswald', sans-serif;
}

#hint {
  position: relative;
  top: -20px;
  width: 5000px;
  color: gray;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
  left: -10px;
}

.counts {
  margin-top: 0px;
}

text {
  fill: gray
}

.tick line {
  stroke: gray;
}

.c3-axis path {
  stroke: gray;
}

.c3-bar {
  /* fill: #dc3545 !important; */
}

.name {
  background-color: black;
  color: black
}

.value {
  background-color: black;
  color: black
}

#gage-chart {
  top: -30px;
}
/* #gage-subChart {
  top: 10px;
  left: -20px;
} */

#agegroup-chart {
  position: relative;
  /* top: 30px;
  left: -20px; */
}

/* #agegroup-chart>div>table>tbody>tr>td>span {
  background-color: #dc3545 !important
} */
#footer {
  position: relative;
  top: 40px;
  bottom: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
  margin-bottom: 50px;
}

#footer>div {
  font-size: 13px;
}

.cases-count {
  color: #dc3545;
}

.cases-new-count {
  color: orange;
}

/* .suspected-count {
  color: orange;
} */
.neg-count {
  color: #28a745;
}

.death-count {
  color: #5d4f72e8;
}

.confirmed-new-count {
  vertical-align: super !important;
  font-size: 50% !important;
  color: #dc3545;
  font-style: italic;
  font-kerning: normal;
}

.active-new-count {
  vertical-align: super !important;
  font-size: 50% !important;
  color: orange;
  font-style: italic;
  font-kerning: normal;
}

.death-new-count {
  vertical-align: super !important;
  font-size: 50% !important;
  color: #5d4f72e8;
  font-style: italic;
  font-kerning: normal;
}

.neg-new-count {
  vertical-align: super !important;
  font-size: 50% !important;
  color: #28a745;
  font-style: italic;
  font-kerning: normal;
}

#stateButton {
  font-size: 70% !important;
  width: 150px;
}

.virusImg {
  width: auto;
  text-align: center;
  padding: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* .textLabelclass a {
  white-space: nowrap;
  font-size: 10px;
  color: brown !important;
} */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 25px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: grey;
  background: white;
  cursor: pointer;
}

.datePickerTitle {
  text-align: right;
  padding-right: 10px;
  font-size: 30px;
}
.timeTitle {
  text-align: left;
  padding-right: 10px;
  font-size: 15px;
}
.card {
  border: 0px;
}

.fa-tachometer-alt:hover {
  opacity: 0.3;
}



.map{
  color: white;
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  font-size: 1.5rem;
}



.fa-vials:hover {
  opacity: 0.3;
}

/* .map .fa-vials {
  color: orange;
  font-size: 2rem;
  position: absolute;
  border: 5px;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0.8;
  text-shadow: 1px 1px 1px black;
} */


.blinking {
  animation: fade 1s infinite alternate;
}

.tabIcon {
  color: #343a40;
}

.hexbin-hexagon {
  stroke: #000;
  stroke-width: .5px;
}

.hexbin-container:hover .hexbin-hexagon {
  transition: 200ms;
  stroke: white;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.hexbin-tooltip {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
}

.dropdown {
  /* float: right; */
  background-color: grey;
}

.dropdown-menu {
  background-color: grey;

}
.dropdown-item:hover {
  background-color: grey;
  color: white;

}
.dropdownTitle {
  font-size: 13px;
}

.nav-link {
  /* background-color: white; */
}

.nav-tabs .nav-link.active{
  color: white;
  background-color: grey;
}

.tabInfo {
  background-color: grey !important;
}
#deck-2 > div.card.col-lg-11 {
  background-color: grey !important;
}

#d0 {
  background: grey;
  color: white;
}

.checkbox {
  color: white;
}

label {
  margin-bottom: 0;
}

.c3-legend-item
{
pointer-events: none;
}
